/* For demo */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 400px;
  max-width: 400px;
}

.warn {
  color: red;
  text-align: center;
}
