#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.age-container {
}

.blueBox {
  /* background-color: #2E67D8; */
}

.pinkBox {
  /* background-color: #C49DD5; */
}

.greenBox {
  /* background-color: #58BCE0; */
}

.box {
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  border-radius: 0.3rem;
  background-color: #f4f6f5;
}

button.ant-btn.sign-up.ant-btn-primary {
  background-color: #336f88 !important;
  width: 9rem;
}

.signUpBtn .ant-form-item-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpBtn .ant-form-item-control-wrapper {
  width: 100%;
}

img.logo {
  position: absolute;
  width: 40%;
  left: 65%;
  right: 0;
  bottom: 65%;
}
