.ant-modal.suggestModal {
    width: 80%;
}

.ant-modal-body {
    padding: 25px 40px;
    font-weight: bold;
    font-family:ans-serif
}

.ant-row.ant-form-item.flexCon {
    display: flex;
}

.ant-form-item-control-wrapper {
    width: 50%;
}

span.ant-input-affix-wrapper {
    width: 100%;
}

div#signup_rslider .ant-col-4 {
    display: flex
}

.ant-col-4 .ant-input-number  {
    margin-left: 0px !important;
}

.ant-modal-header {
    background: #336F88;
    height: 5rem;
}

.ant-modal-title {
    text-align: center;
}

.ant-modal-title {
    padding-top:0.3rem;
    color: white;
    font-size:2rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.css-0 {
    margin: auto;
    width: 20%;
}